.primary-btn{
    width: fit-content;
    height: 20px;
    padding: 10px 20px;
    background-color: var(--Almost_Black);
    color: var(--Almost_White);
    border-radius: 12px;
    text-decoration: none;
    font-size: small;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}