.secondary-btn{
    width: fit-content;
    height: 20px;
    padding: 10px 20px;
    border: 1px  solid var(--Almost_Black);
    color: var(--Medium_Gray);
    border-radius: 12px;
    text-decoration: none;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-btn:hover{
    border-width: 1.34px;
    color: var(--Almost_Black);
}