main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.intro{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 20px 0;
}

.image-desktop > img{
    width: 350px;
}

.image-mobile{display: none;}
.image-mobile > img{
    display: none;
    width: 100%;
}

.text{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

.text .client-area {
    display: flex;
    gap: 20px;
    height: 20px;
}

.client{ height: 20px;}

h1{
    margin: 0;
    width: 380px;
    font-size: 60px;
    font-weight: 900;
    color: var(--Almost_Black);
}

p{
    width: 320px;
    font-size: small;
    font-weight: 600;
    line-height: 25px;
    color: var(--Medium_Gray);
}

@media (max-width: 800px) {
    .intro{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
        padding: 20px 0;
    }
    
    .image-desktop{display: none;}
    .image-desktop > img{
        display: none;
    }
    
    .image-mobile{display: block;}
    .image-mobile > img{
        display: block;
    }
    .text{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    h1{
        text-align: center;
        margin: 0;
        width: calc(100% - 30px);
        font-size: 35px;
        font-weight: 900;
        padding: 0px 15px;
        color: var(--Almost_Black);
    }

    p{
        text-align: center;
        font-size: medium;
    }
    
    .client{
        height: 15px;
    }
    .client-area{
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        gap: 2px;
        padding: 10px;
    }
    
}