@import url('https://fonts.googleapis.com/css?family=Epilogue&display=swap');

:root{
  --White: hsl(0, 0%, 98%);
  --Medium_Gray: h 1sl(0, 0%, 41%);
  --Almost_Black: hsl(0, 0%, 8%);
  --logo: 100px;
}

*{
  font-family: Epilogue;
  font-weight: 500, 700;
}

body{
  width: 100%;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}

a:visited{color: #000;}


@media (max-width: calc(375px*2)) {
  body{
    min-width: 375px;
    background-color: aquamarine;
  }
}