@import url('https://fonts.googleapis.com/css?family=Epilogue&display=swap');

:root{
  --Almost_White: hsl(0, 0%, 98%);
  --Medium_Gray: hsl(0, 0%, 41%);
  --Almost_Black: hsl(0, 0%, 8%);
  --logo: 70px;
}

*{
  font-family: Epilogue;
  font-weight: 500, 700;
}

body{
  height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--Medium_Gray);
}